#Contact {
  margin: auto;
}
#Contact h1::after {
  content: "";
  width: 41%;
  height: 1vw;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 27%;
  background-color: var(--citrine);
}



*/ label {
  font-family: var(--text);
}
input {
  width: 200px;
  height: 20px;
}
textarea {
  resize: none;
}


