#Header {
  height: 100vh;
  background: url("../assets/brooklyn-bridge.jpg");
  background-size: cover;
margin-left: -10%;

}
.header-container {
  align-self: center;
}
.header-container h1 {
 padding-top: 10%;
 width: 40vw;
 margin-left: 15%;
  font-size: 3vw;
  text-align: justify;

}
.title {
  position: relative;
  z-index: 0;

}

.title::after {
  content: "";
  width: 100%;
  height: 1vw;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: -3%;
  background-color: var(--citrine);
}

.bridge {
  
  z-index: -2;
}