@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --space-cadet: #2D3047;
  --dark-sky-blue: #93B7BE;
  --citrine: #E0CA3C;
  --heading: "Playfair Display", serif;
  --body: "Open Sans", sans-serif;
}

.App {
  max-width: 960px;
  /* margin: 0 auto;
  text-align: center; */
}
.sideBar {
  display: flex;
}
.content {
  margin-left: 20%;
  text-align: center;
}
body {
 
  font-family: var(--body);
}

h1 {
  font-family: var(--heading);
  position: relative;
}

