@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --champagne: #eee0cb;
  --grullo: #baa898;
  --gray-web: #848586;
  --heading: "Playfair Display", serif;
  --body: "Open Sans", sans-serif;
}

.App {
  max-width: 960px;
  /* margin: 0 auto;
  text-align: center; */
}
.sideBar {
  display: flex;
}
.content {
  margin-left: 20%;
  text-align: center;
}
body {
  background-color: var(--champagne);
  font-family: var(--body);
}

h1 {
  font-family: var(--heading);
}
